<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/constructorStyle.css">
    <title>Конструктор запросов</title>
</head>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios@0.21.1/dist/axios.min.js"></script>
<body>
    <div id="contructor" class="container">

        <div class="color-first center-menu">
            some data
        </div>
        <div class="color-first right-menu">
            <h2 class="center">Конструктор запросов</h2>
            <div class="inner-menu">
                <div class="scrollmenu">
                    <div class="condition">
                        <label>Таблица</label>
                        <select>
                            <option v-for="table in tables">{{table.techTitle}}</option>
                        </select>
                        <label>Поле</label>
                        <select>
                            <option v-for="field in selectedTable.fields">{{field.techTitle}}</option>
                        </select>
                        <label>Сортировка</label>
                        <select>
                            <option selected>Не сортировать</option>
                            <option>По возрастанию</option>
                            <option>По убыванию</option>
                        </select>
                        <label>Условие</label>
                        <input type="text">
                        <label>Или</label>
                        <input type="text">
                        <button type="button" class="inner-menu-btn">Удалить</button>
                    </div>
                    <hr width="1" size="300">
                    <div class="condition">
                        <label>Таблица</label>
                        <select>
                            <option selected>user</option>
                        </select>
                        <label>Поле</label>
                        <select>
                            <option></option>
                        </select>
                        <label>Сортировка</label>
                        <select>
                            <option selected>Не сортировать</option>
                            <option>По возрастанию</option>
                            <option>По убыванию</option>
                        </select>
                        <label>Условие</label>
                        <input type="text">
                        <label>Или</label>
                        <input type="text">
                        <button type="button" class="inner-menu-btn">Удалить</button>
                    </div>
                </div>
            </div>
            <div class="justify-between">
                <button type="button" class="color-second outer-menu-btn">Добавить параметр</button>
                <button type="button" class="color-second outer-menu-btn">Отправить запрос</button>
            </div>
        </div>
    </div>
<script>
    const app = Vue.createApp({
        data() {
            return {
                tables: [],
                selectedTable: "",
            };
        },
        methods: { },
        async created() {
            const response = await axios.get('http://localhost:8080/api/v1/connectedDbs/table',
                { headers: {
                        Authorization: `Bearer ${localStorage.getItem('jwt')}`
                    }, 'x-content-type-options': 'nosniff' })
            this.dbData = response.data
            // console.log(this.dbData.data)
        }
    });
    app.mount('#contructor');
</script>
</body>
</html>