<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/constructorStyle.css">
    <style>
        
    </style>
    <title>Конструктор запросов</title>
</head>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios@0.21.1/dist/axios.min.js"></script>
<body>
    <div id="contructor" class="container">

        <div class="color-first center-menu">
            <div id="dataOutput">
                <table v-if="rows">
                    <tr>
                        <td v-for="field in rows[0].fields" :key="field.userTitle">
                            {{field.userTitle}}
                        </td>
                    </tr>
                    <tr v-for="row in rows" :key="row.fields[0].value">
                        <td v-for="field in row.fields" :key="field.value">
                            {{field.value}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="color-first right-menu">
            <div class="justify-center">
                <span class="header">Конструктор запросов</span>
            </div>
            <div class="inner-menu">
                        <label>Таблица</label>
                        <select class="main-select" v-model="selectedTable" @change="updateFields">
                            <option v-for="(table, index) in tables" :value="table.techTitle" :key="index">{{table.userTitle}}</option>
                        </select>
                        <label>Поля</label>
                        <div v-if="selectedTable" v-for="field in selectedTable.fields">
                            <input type="checkbox" :id="field.userTitle" :value="field" v-model="checkedFields">
                            <label :for="field.userTitle">{{field.userTitle}}</label>
                        </div>
                        <div class="justify-between">
                            <label>Сортировка</label>
                            <button type="button" class="inner-menu-btn" @click="showSort">+</button>
                        </div>
                        <div v-if="savedSorts" v-for="sort in savedSorts" class="filter-container">
                            <div class="filter-el">{{sort.field}}</div>
                            <div class="filter-el">{{sort.sortType}}</div>
                            <div class="filter-el"><button class="close-btn" @click="removeSavedSort(sort.field, sort.sortType)">&times;</button></div>
                        </div>
                        <div class="justify-between">
                            <label>Фильтр</label>
                            <button type="button" class="inner-menu-btn" @click="showFilter">+</button>
                        </div>
                        <div v-if="savedFilters" v-for="filter in savedFilters"  class="filter-container">
                            <div class="filter-el">{{filter.field.userTitle}}</div>
                            <div class="filter-el">{{filter.condition.title}}</div>
                                <div class="filter-el">{{filter.conditionField}}</div>
                            <div class="filter-el">
                                <button class="close-btn" @click="removeSavedFilter(filter.field, filter.condition, filter.conditionField)">&times;</button>
                            </div>
                        </div>
                        <div class="justify-between">
                            <label>Группировка</label>
                            <button type="button" class="inner-menu-btn" @click="showGroup">+</button>
                        </div>
                        <div v-if="group" class="filter-container">
                            <div class="filter-el">{{group}}</div>
                            <div class="filter-el"><button class="close-btn" @click="removeGroup">&times;</button></div>
                        </div>
                        <div class="justify-between">
                            <label>Агрегация</label>
                            <button type="button" class="inner-menu-btn" @click="">+</button>
                        </div>
                        <div class="justify-between">
                            <label>Добавление таблицы</label>
                            <button type="button" class="inner-menu-btn" @click="">+</button>
                        </div>
                        
                        <label>Лимит</label>
                        <select class="main-select" v-model="limit">
                            <option>5</option>
                            <option selected>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
            </div>
            <div class="justify-between">
                <button type="button" class="outer-menu-btn" @click="sendQuery">Выполнить запрос</button>
            </div>
            <div>
                <button type="button" @click="goDbData">Все таблицы</button>
            </div>

            <div id="sortMenu" class="popUp">
                <div class="justify-between">
                    <h2>Добавить сортировку</h2>
                    <button @click="closeSort" class="close-btn">&times;</button>
                </div>
                <div v-for="sort in sorts" class="row">
                    <div class="row-element">
                        <select v-model="sort.field" class="row-input">
                            <option disabled selected>Поле</option>
                            <option v-if="selectedTable" v-for="field in selectedTable.fields">{{field.userTitle}}</option>
                        </select>
                    </div>
                    <div>
                        <select v-model="sort.sortType" class="row-input">
                            <option disabled selected>Операция</option>
                            <option value="ASC">по возрастанию</option>
                            <option value="DESC">по убыванию</option>
                        </select>
                    </div>
                    <div v-if="sorts.length > 1">
                        <button @click="removeSort(sort.field, sort.sortType)" class="rm-btn">-</button>
                    </div>
                </div>
                <div class="popup-bottom">
                    <button class="send-btn" @click="addSort">Добавить</button>
                    <button class="send-btn" @click="acceptSort">Применить</button>
                </div>
            </div>


            <div id="filter" class="popUp">
                <div class="justify-between">
                    <h2>Добавить фильтр</h2>
                    <button @click="closeFilter" class="close-btn">&times;</button>
                </div>
                <div v-for="filter in filters" class="row">
                    <div class="row-element">
                        <select class="row-input" v-model="filter.field" @change="onChangeFieldFromFilter(filter)">
                            <option disabled value="">Поле</option>
                            <option v-if="selectedTable" v-for="tableField in selectedTable.fields" :value="tableField">{{tableField.userTitle}}</option>
                        </select>
                    </div>
                    <div class="row-element" v-if="filter.field.type === 'row' || filter.field.type === 'number'">
                        <select class="row-input" v-if="filter.field.type === 'row'" v-model="filter.condition">
                            <option disabled value="">Операция</option>
                            <option v-for="condition in conditions.row" :value="condition">{{condition.title}}</option>
                        </select>
                        <select class="row-input" v-if="filter.field.type === 'number'" v-model="filter.condition">
                            <option disabled value="">Операция</option>
                            <option v-for="condition in conditions.number" :value="condition">{{condition.title}}</option>
                        </select>
                    </div>
                    <div class="row-element" v-if="filter.field.type === 'row' && filter.condition.isThereField === true">
                        <input v-model="filter.conditionField" maxlength="10" type="text" class="row-input" placeholder="Значение">
                    </div>
                    <div class="row-element" v-if="filter.field.type === 'number' && filter.condition.isThereField === true">
                        <input v-model="filter.conditionField" max="1000000" type="number" class="row-input" placeholder="Число">
                    </div>
                    <div v-if="filters.length > 1">
                        <button @click="removeFilter(filter.field, filter.condition, filter.conditionField)" class="rm-btn">-</button>
                    </div>
                </div>
                <div class="justify-end">
                    <button class="add-btn" @click="addFilter">+</button>
                    <button class="send-btn" @click="acceptFilters">Применить</button>
                </div>
            </div>


            <div id="group" class="popUp">
                <div class="justify-between">
                    <h2>Добавить группировку</h2>
                    <button @click="closeGroup" class="close-btn">&times;</button>
                </div>
                <div class="row">
                    <div class="row-element">
                        <select id="fieldForGroup" class="row-input">
                            <option disabled selected>Поле</option>
                            <option v-if="selectedTable" v-for="field in selectedTable.fields">{{field.userTitle}}</option>
                        </select>
                    </div>
                </div>
                <div class="justify-end">
                    <button class="add-btn">+</button>
                    <button class="send-btn" @click="addGroup">Применить</button>
                </div>
            </div>

            <div id="join" class="popUp">
                <div class="justify-between">
                    <h2>Присоединить таблицу</h2>
                    <button @click="closeGroup" class="close-btn">&times;</button>
                </div>
                <div class="row">
                    <div class="row-element">
                        <select>

                        </select>
                    </div>
                </div>
            </div>

        </div>
    </div>
<script>
    function myFunction() {
        var popup = document.getElementById("myPopup");
        popup.classList.toggle("show");
    }

    const app = Vue.createApp({
        data() {
            return {
                tables: [],
                selectedTable: null,
                rows: null,
                checkedFields: [],
                sorts: [
                    {
                        field: 'Поле',
                        sortType: 'Операция'
                    }
                ],
                savedSorts: null,
                filters: [{
                        field: {
                            userTitle: 'Поле', 
                            techTitle: null,
                            type: null
                        },
                        condition: {
                            title: 'Операция',
                            isThereField: false
                        },
                        conditionField: null
                    }
                ],
                savedFilters: null,
                conditions: {
                    row: [{title: 'LIKE', isThereField: true}, {title: 'NOT LIKE', isThereField: true}, {title: 'CONTAINS', isThereField: true}, 
                    {title: 'Начинается с', isThereField: true}, {title: 'Заканчивается на', isThereField: true}, {title: 'IS NOT NULL', isThereField: false}, 
                    {title: 'IS NULL', isThereField: false}],
                    
                    number: [{title: '=', isThereField: true}, {title: '!=', isThereField: true}, {title: '>', isThereField: true},
                    {title: '<', isThereField: true}, {title: '<=', isThereField: true}, {title: '>=', isThereField: true}, {title: 'IS NOT NULL', isThereField: false}, 
                    {title: 'IS NULL', isThereField: false}]
                },
                group: null,
                limit: "10" 
            };
        },
        methods: {
            updateFields(event) {
                // this.selectedTable = this.tables.find(table => table.userTitle === event.target.value);
                this.selectedTable = this.tables.find(table => table.userTitle === event.target.value);
            },
            showFilter() {
                document.getElementById("filter").style.display="block";
            },
            closeFilter() {
                document.getElementById("filter").style.display="none";
            },
            addFilter() {
                    if(this.filters.length < 3) {
                        this.filters.push({
                        field: {
                            userTitle: 'Поле', 
                            techTitle: null,
                            type: null
                        },
                        condition: {
                            title: 'Операция',
                            isThereField: false
                        },
                        conditionField: null
                    })
                }
            },
            removeFilter(field, condition, conditionField) {
                    if(this.filters.length > 1) {
                        let index = this.filters.findIndex(f => f.field === field && f.condition === condition && f.conditionField === conditionField);
                        if (index !== -1) {
                            this.filters.splice(index, 1);
                        }
                    }
            },
            removeSavedFilter(field, condition, conditionField) {
                let index = this.savedFilters.findIndex(f => f.field === field && f.condition === condition && f.conditionField === conditionField);
                        if (index !== -1) {
                            this.savedFilters.splice(index, 1);
                        }
            },
            acceptFilters(event) {
                this.savedFilters = this.filters.filter(f => f.field !== 'Поле' && f.condition !== 'Операция');
                document.getElementById("filter").style.display="none";
            },
            onChangeFieldFromFilter(filter) {
                    let index = this.filters.findIndex(f => f === filter);
                    if(index !== -1) {
                        this.filters[index].condition = {
                            title: 'Операция',
                            isThereField: false
                        };
                    this.filters[index].conditionField = null;  
                }
            },
            showSort() {
                document.getElementById("sortMenu").style.display="block";
            },
            closeSort() {
                document.getElementById("sortMenu").style.display="none";
                this.sorts = [
                        {
                            field: 'Поле',
                            sortType: 'Операция'
                        }
                    ]
            },
            acceptSort() {
                this.savedSorts = this.sorts.filter(sort => sort.field !== 'Поле' && sort.sortType !== 'Операция');
                document.getElementById("sortMenu").style.display="none";
            },
            addSort() {
                if(this.sorts.length < 3) {
                        this.sorts.push({
                            field: 'Поле',
                            sortType: 'Операция'
                        });
                    }
            },
            removeSort(field, sortType) {
                let index = this.sorts.findIndex(s => s.field === field && s.sortType === sortType);
                if (index !== -1) {
                    this.sorts.splice(index, 1);
                }
            },
            removeSavedSort(field, sortType) {
                let index = this.savedSorts.findIndex(s => s.field === field && s.sortType === sortType);
                if (index !== -1) {
                    this.savedSorts.splice(index, 1);
                }
            },
            showGroup() {
                document.getElementById("group").style.display="block";
            },
            closeGroup() {
                document.getElementById("group").style.display="none";
            },
            addGroup() {
                let field = document.getElementById('fieldForGroup').value;
                if(field != 'Поле') {
                    this.group = field;
                    document.getElementById("group").style.display="none";
                }
            },
            removeGroup() {
                this.group = null;
            },
            assembleFilters() {
                if(this.savedFilters != null) {
                    let filters = [];
                    for(let i = 0; i < this.savedFilters.length; i++) {
                        let filter = {
                            field: null,
                            condition: null,
                            conditionField: null
                        };
                        filter.field = this.savedFilters[i].field.techTitle;
                        filter.condition = this.savedFilters[i].condition.title;
                        filter.conditionField = this.savedFilters[i].conditionField;
                        filters.push(filter);
                        return filters;
                    }
                } else {
                    return null;
                }
            },
            sendQuery() {
                let filters = this.assembleFilters();
               
                const query = {
                    dbTitle: localStorage.getItem('dbTitle'),
                    table: this.selectedTable.techTitle,
                    fields: this.checkedFields.map(item => item.techTitle),
                    filters: filters,
                    sorts: this.savedSorts,
                    group: this.group,
                    limit: this.limit,
                }
                // console.log(query);
                axios.post('http://localhost:8080/api/v1/connectedDbs/select', 
                    query,
                    {
                        headers: {
                            Authorization: `Bearer ${localStorage.getItem('jwt')}`
                        }
                    }
                ).then(response => {
                    this.rows = response.data.data;
                    // console.log(response.data.data);
                }).catch(error => {
                    console.error(error);
                });
            },
            goDbData() {
                window.location.href = 'dbData.html';
            },
        },
        async created() {
            const response = await axios.get('http://localhost:8080/api/v1/connectedDbs/table', {
                    params: {
                        dbTitle: localStorage.getItem('dbTitle')
                    },
                    headers: {
                        Authorization: `Bearer ${localStorage.getItem('jwt')}`
                    }
            })
            this.tables = response.data.data;
            const typeMapping = {
                'tinyint': 'number',
                'smallint': 'number',
                'mediumint': 'number',
                'int': 'number',
                'bigint': 'number',
                'float': 'number',
                'double': 'number',
                'char': 'row',
                'varchar': 'row',
                'text': 'row',
                'date': 'time',
                'datetime': 'time',
                'timestamp': 'time',
                'time': 'time',
                'year': 'time'

            };

            this.tables.forEach(table => {
                table.fields.forEach(field => {
                    if (typeMapping.hasOwnProperty(field.type)) {
                        field.type = typeMapping[field.type];
                    }
                });
            });
            this.selectedTable = this.tables[0] || null;
            // console.log(this.tables);
        }
    });
    app.mount('#contructor');

</script>
</body>
</html>