<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/auth.css">
    <title>Registration</title>
</head>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios@0.21.1/dist/axios.min.js"></script>
<body class="body">

    <div class="menu-style color-first justify-center">
        <form id="auth" @submit.prevent="authUser">
            <div class="container center">
            <h1>Добро пожаловать</h1>
            <hr>
            <label for="login"><b>Логин</b></label>
            <input v-model="user.login" type="text" placeholder="Введите логин" id="login" required>

            <label for="password"><b>Пароль</b></label>
            <input v-model="user.password" type="password" placeholder="Введите пароль" id="password" required>
            <hr>
            <button @click="authUser" class="registerbtn" type="button">Войти</button>
            </div>

            <div class="container signin">
                <p>Нет учетной записи? <a @click="switchToRegister">Зарегистрироваться</a></p>
            </div>
        </form>
    </div>
</body>
<script>
    const app = Vue.createApp({
        data() {
            return {
                user: {
                    login: '',
                    password: ''
                }
            }
        },
        methods: {
            async authUser(e) {
                e.preventDefault();
                try {
                    const response = await axios.post('http://localhost:8080/api/v1/auth/authenticate', this.user);
                    if (response.status === 200) {
                        console.log(response.data.data.token)
                        localStorage.setItem('jwt', response.data.data.token);
                        window.location.href = 'dbsMenu.html';
                    } else {
                        alert("Проверьте корректность данных")
                    }
                } catch (error) {
                    console.log(error);
                }
            },
            switchToRegister() {
                window.location.href = 'register.html';
            }
        }
    });
    app.mount('#auth');
</script>
</html>