* {
    box-sizing: border-box;
}

button {
    border: none;
    padding: 10px;
    border-radius: 14px;
    width: 100%;
    opacity: 0.9;
    cursor: pointer;
    margin-top: 30px;
}

button:hover {
    opacity: 1;
}

input {
    padding: 5px;
    border: none;
    border-radius: 8px;
    width: 100%;
    margin: 1px 0 12px 0;
}

input:focus {
    outline: none;
    background-color: rgb(182, 202, 178);
}

.body {
    display: flex;
    justify-content: center;
    padding-top: 75px;
}

.container {
    padding: 5px 50px 15px 50px;
    border-radius: 20px;
    width: 400px;
    height: 440px;
}

.registerlink {
    cursor: pointer;
    border: 2px solid rgb(197, 209, 195);
    border-radius: 5px;
    padding: 2px;
}

.registertext {
    text-align: center;
}

.menuheader {
    text-align: center;
    margin-bottom: 110px;
}

.color1 {
    background-color: rgb(229, 235, 228);
}

.color2 {
    background-color: rgb(197, 209, 195);
}

.color3 {
    background-color: rgb(182, 202, 178);
}